/*[data-md-color-scheme="light"] img[src$="#only-dark"],*/
/*[data-md-color-scheme="light"] img[src$="#gh-dark-mode-only"] {*/
/*  display: none; !* Hide dark images in light mode *!*/
/*}*/

/*[data-md-color-scheme="dark"] img[src$="#only-light"],*/
/*[data-md-color-scheme="dark"] img[src$="#gh-light-mode-only"] {*/
/*  display: none; !* Hide light images in dark mode *!*/
/*}*/

.termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy [data-termynal] {
  white-space: pre;
}

a.external-link::after {
  /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
  content: "\00A0[↪]";
}

a.internal-link::after {
  /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
  content: "\00A0↪";
}
