name: Lint code
on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3
      - name: Install dependencies
        run: |
          pip install ".[dev]"
      - uses: pre-commit-ci/lite-action@v1.1.0
