name: Test Coverage
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: [3.8, 3.12, 3.13]
        click: [7.0.*, 7.1.*, 8.0.*, 8.1.*]  # 8.2.*
        rich: [12.*, 13.*]
        exclude:
          - python: 3.13
            click: 7.0.*
          - python: 3.13
            click: 7.1.*
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          uv pip install --editable ".[dev]"
          uv pip install --upgrade "click==$CLICK_VERSION" --prerelease=allow
          uv pip install --upgrade "rich==$RICH_VERSION" --prerelease=allow
        env:
          CLICK_VERSION: ${{ matrix.click }}
          RICH_VERSION: ${{ matrix.rich }}

      - name: Run tests
        run: pytest --cov --cov-report xml
